{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
    <link rel="stylesheet" href="{% static 'css/material.css'%}" />
    <title>text to spech</title>
  </head>
  <body>
<header>  		
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><span class="material-symbols-rounded" style="font-size: 35px; color: #3b5cbf;">graphic_eq</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="text">Text</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="video">Video</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>


<main style="height: 91vh;">
  <div class="container px-5 mt-5">
    <div class="row">
      <form method="post">
        {% csrf_token %}

        <div class="form-floating">
          <textarea class="form-control" name="usertext" placeholder="Leave a comment here" id="usertext floatingTextarea2" style="height: 400px"></textarea>
          <label for="floatingTextarea2">Enter your text here..</label>
        </div>
        <div class="pt-2 form-floating">
         <a>
         <input type="submit" class="form-control btn btn-outline-success" id="submit" value="Convert">
         </a>
        </div>
      </form>
    </div>
  </div>    
</main>
<footer>

</footer>
 	<script type="text/javascript" src="{% static 'js/boot.js'%}"></script>
 	<script type="text/javascript" src="{% static 'js/p.js'%}"></script>
  </body>
</html>